LLM_API_KEY=sk-xxxxxxxx
LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
LLM_MODEL=qwen3.7-plus
MODELSCOPE_TOKEN=ms-xxxxxxxx
TRAIN_12306_URL=https://mcp.api-inference.modelscope.net/xxxxxxxx/mcp
FLIGHT_VARIFLIGHT_URL=https://ai.variflight.com/servers/aviation/mcp/
VARIFLIGHT_API_KEY=sk-xxxxxxxx
UAPIS_API_KEY=uapi-xxxxxxxx
TAVILY_API_KEY=tvly-xxxxxxxx
AMAP_API_KEY=xxxxxxxx
